<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ data?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>
@if(data){
  <ion-content>
    <div class="center">
      <ion-card class="center-card">
        <img [src]="data?.sprites?.other?.['official-artwork']?.front_default" alt="{{ data.name }} image" />
        <ion-card-header>
          <ion-card-title>{{ data.name | titlecase }}</ion-card-title>
          <ion-card-subtitle>Tipo: {{ data.types[0]?.type.name | titlecase }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Peso:</strong> {{ data.weight / 10 }} kg</p>
          <p><strong>Altura:</strong> {{ data.height / 10 }} m</p>
          <p><strong>Habilidades:</strong> {{ abilities }}</p>
          <p><strong>Estadísticas Base:</strong></p>
          <ul>
            @for(stat of data.stats; track stat){
              <li>
                <span>{{ stat.stat.name | titlecase }}:</span> <span>{{ stat.base_stat }}</span>
              </li>
            }
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
    
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="toggleFavorite()" class="favorite">
        <ion-icon [name]="isFavorite ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </ion-content>
}

