.dark-mode {
    --ion-background-color: #121212; /* Fondo oscuro */
    --ion-text-color: #ffffff; /* Texto claro */
    --ion-tab-bar-background: #B91F15; /* Fondo del tab bar */
    --ion-tab-bar-color: #ffffff; /* Color de los íconos y etiquetas */
    --ion-tab-bar-color-selected: #aba1a1; /* Color del tab seleccionado */
  }
  