<ion-header>
  <ion-toolbar>
    <ion-title>Pokedex</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar 
    [(ngModel)]="query"
    show-cancel-button="focus" 
    placeholder="Buscar Pokemon"
    (ionInput)="onSearchChange($event)"
    (ionClear)="onSearchCancel()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-alert
[isOpen]="isAlertOpen"
header="Alerta"
message="Deseas cerrar sesión"
[buttons]="alertButtons"
(didDismiss)="setOpen(false)"
></ion-alert>

<ion-content [fullscreen]="true">
  @if(suggestions.length>0){
    <div class="fixed-list">
      <ion-list>
        @for(pokemon of suggestions;track pokemon){
          <ion-item (click)="onSuggestionClick(pokemon.name)">
            {{ pokemon.name }}
          </ion-item>
        }
        
      </ion-list>
    </div>
  }
  @if (showRandom) {
    <div>
      <ion-title>Pokemon del Dia</ion-title>
    </div>
    <div class="center-card">
      <ion-card (click)="onClick(data?.id)">
        <img alt="Imagen de pokemon aleatoria" [src]="data?.sprites?.other?.['official-artwork']?.front_default" />
        <ion-card-header>
          <ion-card-title>{{data?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            {{data?.types[0].type?.name}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
    <div>
      <ion-grid class="center-card">
        <ion-row>
          @for(pokemon of pokemons; track pokemon){
            <ion-col size="5">
              <ion-card class="cartitas" (click)="onClick(pokemon?.id)">
                <ion-card-header>
                  <ion-card-title>{{ pokemon.name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <img [src]="pokemon.image" alt="{{ pokemon.name }} image">
                  <div class="types">
                    <strong>Types:</strong>
                    @for(types of pokemon.types;track types){
                      <div>
                        <ion-chip color="primary">{{ types }}</ion-chip>
                      </div>
                    }
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          }
        </ion-row>
      </ion-grid>
    </div>
    <ion-infinite-scroll threshold="10%" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingText="Loading more Pokémon..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
  }@else {
    <div class="center-card">
      <ion-card (click)="onClick(searchedPokemon?.id)">
        <img alt="Imagen de pokemon aleatoria" [src]="searchedPokemon?.sprites?.other?.['official-artwork']?.front_default" />
        <ion-card-header>
          <ion-card-title>{{searchedPokemon?.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>
            {{searchedPokemon?.types[0].type?.name}}
          </ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  }
</ion-content>
