
ion-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra con un ligero desenfoque */
    border-radius: 20px; /* Opcional, para hacer las esquinas redondeadas */
}

ion-toolbar{
    --background:#B91F15;
}
