<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Noticias
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setOpen(true)">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-alert
[isOpen]="isAlertOpen"
header="Alerta"
message="Deseas cerrar sesión"
[buttons]="alertButtons"
(didDismiss)="setOpen(false)"
></ion-alert>
<ion-content [fullscreen]="true">
  @for(article of data;track article){
    <ion-card (click)="ir(article.url)"> 
      <img src={{article.urlToImage}}/>
      <ion-card-header>
        <ion-card-title>{{ article.title }}</ion-card-title>
        <ion-card-subtitle>{{ article.author }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="text-align: justify;">
        {{ article.description }}
      </ion-card-content>
    </ion-card>
  }
  
</ion-content>