ion-toolbar{
    --background:#B91F15;
}
ion-card-header{
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #B91F15;
}